@model IEnumerable<ddcSite.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InLabWorkingDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceEach)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InLabWorkingDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PriceEach)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @style = "display: block;", @id = "EditItem" }) @*|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, "enable='false'")*@
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable(
            {

            });
        $('#EditItem').click(function (e) {
            e.preventDefault();
            alertify.alert('error!!!!!', "Don't allow update this case.").set('frameless', false);
            

        });
    });
</script>

